@font-face {
  font-family: "Lato";
  src: url("/static/Lab_3/Lato-Black.ttf") format("truetype");
  font-weight: bolder;
}
.black {
  font-weight: bolder;
}

@font-face {
  font-family: "Lato";
  src: url("/static/Lab_3/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
}
.bold {
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("/static/Lab_3/Lato-Light.ttf") format("truetype");
  font-weight: 100;
}
.light {
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("/static/Lab_3/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
}
.semibold {
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("/static/Lab_3/Lato-Thin.ttf") format("truetype");
  font-weight: 200;
}
.thin {
  font-weight: 200;
}

@font-face {
  font-family: "Lato";
  src: url("/static/Lab_3/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}
.regular {
  font-weight: normal;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: black;
  overflow-wrap: break-word;
  text-align: unset;
}

p {
  font-size: 1.1rem;
}

.active {
  font-weight: bolder;
  transition: 0.25s;
}

.container {
  max-width: 80%;
}

.part {
  margin-top: 3.8rem;
  margin-bottom: 5rem;
  opacity: 0;
  transition: opacity 1s;
}
@media screen and (max-width: 500px) {
  .part {
    margin-top: 2rem;
  }
}

.scroll-watch-in-view {
  opacity: 1;
}

.navbar-menu {
  height: 100%;
}
.navbar-menu a {
  transition: 0.25s;
  color: black;
  text-decoration: none;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  font-size: 1.13rem;
}

@media screen and (max-width: 500px) {
  .project {
    min-width: 18rem;
  }
}

.no-style, .no-style:hover, .no-style > *, .no-style:hover > * {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar {
  padding: 20px;
  position: fixed;
  z-index: 2;
  transition: all 1s;
  width: 100%;
  background-color: #BEBAB5;
}

hr {
  border-bottom: solid #22232A 1pt;
  width: 85%;
}

.landing-page {
  position: relative;
}
.landing-page img {
  margin-left: 50px;
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .landing-page img {
    margin-left: 0px;
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .landing-page img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .landing-page {
    height: 100vh;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}

.title-view, .subtitle-view {
  opacity: 1;
  transform: translateX(0px);
}

.subtitle {
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 100;
  transition: 1s;
  transform: translateX(-100px);
  transition-delay: 0.25s;
}

@keyframes from-left {
  from {
    transform: translateX(-25vw);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes from-right {
  from {
    transform: translateX(25vw);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
#home-img {
  animation: from-left 1s;
}

.greetings {
  animation: from-right 1s;
  text-align: right;
}
.greetings h1 {
  color: #495054;
  font-weight: bold;
  font-size: 3.3rem;
}
.greetings h1 span {
  color: black;
}
.greetings h3 {
  font-size: 2.1rem;
}
.greetings h2 {
  font-weight: 600;
  font-size: 2.2rem;
}
@media screen and (max-width: 500px) {
  .greetings {
    position: absolute;
    bottom: 1rem;
    text-align: right;
  }
  .greetings h1 {
    color: #F0F0F0;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .greetings {
    text-align: center;
    position: absolute;
    bottom: 1rem;
  }
  .greetings h1 {
    color: #F0F0F0;
  }
}

@media screen and (max-width: 500px) {
  .experience-image {
    margin-bottom: 2rem;
  }
}

.edu-detail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edu-detail {
  transition: 1s;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
}

.edu-detail:hover {
  transform: translate(-5px, -10px);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
}

.edu-detail-text h4 {
  font-weight: bold;
}
.edu-detail-text h3 {
  font-weight: bold;
}

.card-self {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-basis: auto;
  padding: 20px;
  border-radius: 10px;
  border: none;
  max-width: 400px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.project-detail > img {
  margin-right: 0.6rem;
}

.achievement-card-1 {
  background: linear-gradient(180deg, rgba(227, 232, 234, 0) 52.6%, #E3E8EA 100%), linear-gradient(0deg, rgba(227, 232, 234, 0.12), rgba(227, 232, 234, 0.12)), url("/static/PHOTO.svg") no-repeat;
  border-radius: 10px;
  max-width: 16.5rem;
  height: 25rem;
  background-size: 20rem;
  background-position: center;
  box-shadow: 2.5px 2.5px 30px rgba(0, 0, 0, 0.25);
  position: relative;
}
.achievement-card-1 > div {
  position: absolute;
  bottom: 0.5rem;
}

#skill-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (max-width: 500px) {
  #skill-lists {
    justify-content: center;
  }
}

.contact-img {
  max-height: 3.5rem;
  margin: 0 0.25rem;
}

div.vertical-border {
  width: 2px;
  max-height: 100%;
  background: black;
}
@media screen and (max-width: 1350px) {
  div.vertical-border {
    display: none;
  }
}

/*# sourceMappingURL=profile2.css.map */
