<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/Lab_3/profile2.css">
    <title>Welcome To My Website</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse navbar-menu" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/lab_4#about" class="" id="about-a">About</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_4#education" class="" id="education-a" >Education</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_4/experience#experience" class=""  id="experience-a" >Experience</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_4/experience#project" class="" id="project-a">Project</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_4/experience#achievement" class=""  id="achievement-a">Achievement</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_4/experience#skills" class=""  id="skills-a">Skills</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_4#contact" class="" id="contact-a">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="/lab_5#schedule" class="" id="schedule-a">Schedule</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/Lab_3/ScrollWatch.js"></script>
    <script src="/static/Lab_3/SmoothScroll.js"></script>
    <script src="/static/Lab_3/main.js"></script>
    <script src="/static/Lab_3/project.js"></script>
    <script src="/static/Lab_3/skills.js"></script>
</body>
</html>