{% extends 'lab_4/base.html' %}

{% block content %}
    <div id="experience" class="container part" style="margin-top: 0px; padding-top: 5rem;" >
        <h1 class="title" id="experience-title">Experience</h1>
        <h4 class="subtitle" id="experience-subtitle">I've been involved here</h4>
        <div class="row justify-content-center content" style="margin-top: 3.5rem;">
            <div class="col-md-5 mx-auto">
                <div class="row">
                    <img src="/static/logo-bem.png" alt="" class="img-fluid align-self-center" >
                    <div class="col-md">
                        <h3 style="font-weight: bold">BEM Fasilkom UI</h3>
                        <h5>Staff at <span style="color: #46413B; font-weight: bold">Media Bureau</span></h5>
                        <h6>2019 - 2020</h6>
                    </div>
                </div>
                <div class="col mt-4">
                    <p class="text-justify">Description : <br>In here, i act as media partner of community service department, the task of media partner here is to make an infographics for social media. Beside that i also hold the iMaba project. iMaba is a web that provide an information about lectures in University of Indonesia for new student in Computer Science in University of Indonesia.</p>
                </div>
            </div>
            <div class="col-md-5 mx-auto">
                <div class="row">
                    <img class="img-fluid align-self-center" src="/static/Compfest.svg" alt="" style="margin-right: 2rem">
                    <div class="col-md">
                        <h3 style="font-weight: bold">COMPFEST</h3>
                        <h5>Participant at <span style="color: #46413B; font-weight: bold">Software Engineering Academy</span></h5>
                        <h6>2019</h6>
                    </div>
                </div>
                <div class="col mt-4">
                    <p class="text-justify">Description : <br>In here, i act as media partner of community service department, the task of media partner here is to make an infographics for social media. Beside that i also hold the iMaba project. iMaba is a web that provide an information about lectures in University of Indonesia for new student in Computer Science in University of Indonesia.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container part" id="project">
                <h1 class="title" id="project-title">Project</h1>
                <h4 class="subtitle" id="project-subtitle">This is my masterpiece...</h4>
            <div class="row mt-4" id="project-content">
                            <!-- code injected project.js -->
            </div>
        </div>
    </div>
    <hr>
    <div class="container part" id="achievement">
        <div class="row">
            <div class="col-sm-4 align-self-center">
                <h1 class="title" id="achievement-title">Achievement</h1>
                <h4 class="subtitle" id="achievement-subtitle">Something that i got</h4>
            </div>
            <div class="col achievement-card-1 my-3">
                <div>
                    <h3 class="bold">Best Participant</h3>
                    <h5>at <span class="semibold">Software Engineering Academy</span></h5>
                    <h6>2019</h6>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container part" id="skills">
        <div class="row justify-content-center">
            <div class="col align-self-center">
                <h1 class="title" id="skills-title">Skills</h1>
                <h4 class="subtitle" id="skills-subtitle">I can use this things</h4>
            </div>
            <div class="col-9 align-self-center" id="skill-wrapper">
                <div id="skill-lists"></div>
            </div>
        </div>
    </div>
{% endblock %}