{% extends "lab_4/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-content-center justify-content-center"  style="height: 100vh;">
            <div class="col-4 align-self-center">
                <img src="/static/undraw_page_not_found_su7k.svg" alt="" class="img-fluid mb-5 text-center">
                <h3 class="text-center">Still in construction</h3>
            </div>   
        </div>
    </div>
{% endblock %}