{% extends 'lab_4/base.html' %}

{% block content %}
    <div class="landing-page container-fluid" id="home">
            <div class="row justify-content-center" style="height: 100%;">
                    <img class="img-fluid" id="home-img" src="/static/Foto.png" alt="">
                    <div class="greetings align-self-center col">
                        <h1 >Hello, I'm <span>Dipta</span></h1>
                        <h3 >I'm a Developer</h3>
                        <br>
                        <h2 style="color: #22232A;">Want to Know Me?</h2>
                        <h2 style="color: #46413B;">Keep Scrolling</h2>
                    </div>
            </div>
    </div>
    <div class="container part" id="about">
        <div class="row" >
            <div class="col-md-4 align-self-center">
                <h1 class="title" id="about-title">About</h1>
                <h4 class="subtitle" id="about-subtitle">A brief story about me</h4>
            </div>
            <div class="col-md-8 align-self-center content">
                <p class="text-justify">My Name is Dipta Laksmana Baswara, I’m a person who has high interest in computer. I like anything about computer, from software to hardware.</p>
                <p class="text-justify">I’ve learned programming since high school from an extracurricular. I like programming because it’s fun ,it can create anything i like, and it can be useful in the future. </p>
                <p class="text-justify">Beside programming i learn design too, using Photoshop, Illustrator, and Figma.
                    </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container part" id="education">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h1 class="title" id="education-title">Education</h1>
                <h4 class="subtitle" id="education-subtitle">Where have I studied?</h4>
            </div>
            <div class="col-md align-self-center edu-detail-wrapper">
                <a href="https://www.ui.ac.id/" class="no-style edu-detail text-center" target="_blank">
                    <img src="/static/Logo Makara.svg" class="img-fluid mb-3" alt="">
                    <div class="edu-detail-text text-left">
                        <h4>University Of Indonesia</h3>
                        <h5>2018 - Present</h5>
                        <br>
                        <h5>Bachelor Of</h5>
                        <h4>Computer Science</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container part" id="contact">
        <div class="justify-content-start" style="display: flex; flex-direction: row; flex-wrap: wrap;"> 
            <div class="align-self-center contact-title" style="flex: 1 1 0.5rem">
                <h1 class="title" id="contact-title">Contact</h1>
                <h4 class="subtitle" id="contact-subtitle">This is the way...</h4>
            </div>
            <div class="align-self-center justify-content-center" style="flex: 2 2 3rem">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <h3 class="bold align-self-center mx-auto text-center">dipta004@gmail.com</h3>
                    <div class="vertical-border"></div>
                    <div class="mx-auto my-3">
                        <a href="https://www.linkedin.com/in/diptadwiyantoro/" target="_blank"><img src="/static/iconfinder_square-linkedin_317725.svg" alt="" class="img-fluid contact-img"></a>
                        <a href="https://gitlab.com/dipta004" target="_blank"><img class="img-fluid contact-img" src="/static/iconfinder_144_Gitlab_logo_logos_4373151.svg" alt=""></a>
                        <a href="https://github.com/hsjsjsj009" target="_blank"><img class="img-fluid contact-img" src="/static/iconfinder_mark-github_298822.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center"><a href="/lab_4/not_found" class="no-style">For other info. Click Here!</a></h4>
{% endblock %}