<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/lab_1.css">
</head>
<body>
    <div class="section1">
        <img src="/static/_MG_3231_ 3x4.jpg" class="profile-img" />
        <div class="desc">
            <h1>Hello my name is <br>  {{ name }}</h1>
            <p>NPM : {{ npm }}</p>
            <p>I am {{ age }} years old</p>
            <p>Generation : <a href="https://quanta2018.com/" class="quanta">Quanta (2018)</a></p>
            <p>University : Universitas Indonesia</p>
            <p>My Hobby is : Coding, Playing Competitive Game, and Travelling</p>
            <p style="overflow-wrap: break-word; max-width: 500px;">Description : <br> I am a person who like computer very much, hard worker, very interesting in technology (whatever it is)</p>
        </div>
    </div>
</body>
</html>
