{% extends 'lab_4/base.html' %}

{% block content %}
    <div  id="schedule" class="container part" style="padding-top: 90px; margin-top: 0px; margin-bottom: 0px;">
        <h1 class="text-center bold">My Schedule</h1>
        <div class="row justify-content-center mt-3">
            <div class="col-3">
                <form action="{% url 'lab5:index' %}" method="post">
                    {% csrf_token %}
                    {% for field in forms %}
                    <div class="form-group" style="margin-right: 0; margin-bottom: 10px; font-size: 1rem">
                        <label for="id_{{ field.label.lower }}">{{ field.label }}</label>
                        {{ field.errors }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
            </div>
            <div class="col-5 offset-sm-1">
                {% if length == 0 %}
                    <h3 class="text-center">No Schedule</h3>
                {% endif %}
                <div class="row" style="overflow: auto; height: 28rem">
                {% for i in schedules %}
                    <div class="col-8 mb-3" style="border: #3c3c3c solid;  height: 13rem; border-radius: 10px;">
                        <h4 class="bold">{{ i.title }}</h4>
                        <h5>Location :
                            <span class="semibold">{{ i.location }}</span></h5>
                        <h5 class="bold">{{ i.day }}</h5>
                        <h5>{{ i.date }} {{ i.time }}</h5>
                        <h6 class="bold text-right">{{ i.categories }}</h6>
                        <form action="{% url 'lab5:delete_schedule' id=i.id %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        let monthDOM = document.getElementById("id_date_month");
        let dayDOM = document.getElementById("id_date_day");
        let yearDOM = document.getElementById("id_date_year");
        let dayFormDOM = document.getElementById("id_day");

        let dayList =[
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
        ]

        let dateDetail = {
            month: monthDOM.value,
            day:dayDOM.value,
            year:yearDOM.value
        }

        let strDate = dateDetail.year+" "+dateDetail.month+"-"+dateDetail.day;
        let date = new Date(strDate);
        dayFormDOM.value = dayList[date.getDay()];

        monthDOM.onchange = (el) => {
            dateDetail.month = el.target.value;
            strDate = dateDetail.year+"-"+dateDetail.month+"-"+dateDetail.day;
            date = new Date(strDate);
            dayFormDOM.value = dayList[date.getDay()];

        }
        dayDOM.onchange = (el) => {
            dateDetail.day = el.target.value;
            strDate = dateDetail.year+"-"+dateDetail.month+"-"+dateDetail.day;
            date = new Date(strDate);
            dayFormDOM.value = dayList[date.getDay()];
        }
        yearDOM.onchange = (el) => {
            dateDetail.year = el.target.value;
            strDate = dateDetail.year+"-"+dateDetail.month+"-"+dateDetail.day;
            date = new Date(strDate);
            dayFormDOM.value = dayList[date.getDay()];
        }


    </script>
{% endblock %}