body{
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    animation: fade-in 2s;
}
.section1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    animation: from-right 3s;
    flex-wrap: wrap;
}

.profile-img{
    height: 400px;
    align-self: center;
    border: 10px solid lightgrey;
    border-radius: 10px;
    padding: 0px;
}

.desc{
    margin: 20px;
    align-self: center;
}

.quanta:hover{
    font-size: 14pt;
    color: grey;
    transition: 0.3s;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes from-right{
    from {
        right: 20%;
    }
    to {
        right: 0;
    }
}

.quanta{
    text-decoration: none; 
    color: black;
    font-weight: bold;
    transition: 0.3s;
}